@font-face {
    font-family: 'iA Writer Quattro';
    src: url('~@/assets/fonts/iAWriterQuattroS-Regular.woff2') format('woff2'),
        url('~@/assets/fonts/iAWriterQuattroS-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'iA Writer Quattro';
    src: url('~@/assets/fonts/iAWriterQuattroS-Italic.woff2') format('woff2'),
        url('~@/assets/fonts/iAWriterQuattroS-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}